.section-divider
{
  width: 80%;
}

.section-divider-sm
{
  width: 50%;
}

#table-profesores, #table-coorrelativas
{
	width: 50%;
    margin-left: 25%;
}

#materia-info p
{
  font-weight: bolder;
  font-size: 17px;
}

.section-title
{
  margin-bottom: 17px;
  text-align: center;	
}

#materia-text
{
  margin-top: 105px;	
}