#post-space
{
	margin-left:30%;
}

#comment-box-container
{
	margin-top:10px;
}

#comment-button
{			
	margin-top: 5px;
	width: 100px;
}

#comment-editor
{
	width: 679px;			
	height: 300px;
	border: 1px solid black;
	overflow: scroll;
}	

.professor-profile 
{
    margin-top: 96px;
}

.professor-name, #puntaje
{
  font-weight:bolder;
  font-size:50px;
}

#puntaje
{
  margin-left: 18px;
}

.professor-name
{
	color:blue;
}

#professor-image
{
	width:100px;
	height:100px;
	margin-right: 22px;
}

.section-divider
{
  width: 80%;
}

.section-divider-sm
{
  width: 50%;
}

.comment
{
  margin-left: 81px;
}		

.comment-user
{
  width: 54%;
  font-weight:bolder;
  color: darkolivegreen;
}

#user-who
{
  width:200px;
  margin-left:100px;
  margin-bottom:40px;
}

#table-materias
{
    width: 50%;
    margin-left: 25%;
}