h1
{
	text-align: center;
}

.materias-list
{
	margin-top:50px;
	margin-left:10px;
}

.materia-div
{
	border: 0px solid black;
	width: 370px;
	height:33px;
	padding-top:3px;
	padding-left:8px;
	margin-bottom:4px;
	cursor:default;
	background-color:orangered;
}

.materia-div:hover
{
	box-shadow: 0px 0px 20px 1px;
	border-radius: 3px;
}

.materia-status.input-sm.materia-status
{
    height: 25px;
    display: inline;
    width: 110px;
    margin-left: 5px;
}	

.materia-info
{
  margin-left: 11px;	
}